@media (max-width: 992px) { 
    /* ==================
    nav bar 
    ================== */
    .toogler{
        display: block !important;
    }
    .navigation{
        position: absolute;
        left: 0;
        top: 100%;
        background: snow;
        width: 100%;
        height: 100vh;
        padding: 0;
        transition: .4s ease-in-out;
        transform: translateX(-100%);
    }
    .nav_toggle{
        transform: translateX(0);
    }
    .navigation_item {
        display:block;
        margin: 2rem 0;
        border-bottom: 1px solid #ddd;
    }
    .navigation_link{
        padding: 30px 20px;
    }
    .dropdown{
        left: 0;
        top: 100%;
    }
     
 }