@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

@import url(./animation.css);
/*=================
 utilites
================= */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
.button{
    color: #fff;
    background: var(--primary-color);
    font-size: 16px;
    padding: 15px 50px;
    font-weight: 600;
    border-radius: 10px 0 10px 0;
    transition: all .4s ease;
    border:2px solid white;
}
.button:hover{
    background: #fff;
    color: var(--primary-color);
    border:2px solid var(--seconday-color);
}

:root {
    --primary-color: #5b5f74;
    --seconday-color: #96f046;
}

/*=====================
 nav-bar
=================== */
header{
    width: 100%;
    height: 100vh;
}
.top_nav {
    height: 80px;
    padding: 4em 4em;
    position: relative;
}

.navigation_item {
    display: inline-block;
    margin: 0 1rem;
    position: relative;
}

.navigation_link {
    font-size: 15px;
    font-weight: 700;
    color: var(--primary-color);


}

.navigation_link:hover {
    color: var(--seconday-color);
}

.dropdown {
    position: absolute;
    background: snow;
    right: 0;
    top: 100%;
    width: 150px;
    height: 200px;
    padding: 0;
    box-shadow: 3px 4px 10px black;
    opacity: 0;
    visibility: hidden;
    transition: .4s ease;
    transform-origin: top center;
    transform: scaleY(0);
}

.dropdoen_item {
    padding: 13px 5px;
    text-align: center;
}

.dropdoen_item:hover {
    background: var(--seconday-color);
}

.dropdown_link {
    font-size: 15px;
    font-weight: 700;
    color: var(--primary-color);
}

.navigation_item:hover .dropdown {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
}
/*=================
 banner 
================= */
.banner{
    width: 100%;
    height: calc(100vh - 300px);
   
}
.banner_content{
    animation: slideLeft 2s ease-in-out 1; 
}
.banner_thumbnail{
    animation: slideright 2s ease-in-out 1; 
   
}

.banner_title{
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--primary-color);
}
.banner_text{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: var(--primary-color);
    font-weight: 500;
    padding: 20px 0;
   
}
@keyframes slideLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }

}

@keyframes slideright {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }

}

